<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    </head>
    <body>

        <header class="pb-5">
            <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
                <div class="container-fluid">
                    <div class="navbar-header ">
                        <a class="navbar-brand" href="{% url 'djangoapp:index' %}">Best Cars</a>
                    </div>
                    <ul class="nav navbar-nav navbar-right">
                        {% if user.is_authenticated %}
    
                        <li>
                            <a class="btn btn-link" href="#">{{ user.first_name }} ({{ user.username }})</a>
                            <a class="btn btn-link" href="{% url 'djangoapp:logout' %}">Logout</a>
                        </li>
    
                        {% else %}
    
                        <li>
                            <form class="form-inline mt-2" method="post" action="{% url 'djangoapp:login' %}">
    
                                {% csrf_token %}
                      
                                <div class="form-group">
                                  <label for="id_username" class="sr-only">Username</label>
                                  <input type="text" class="form-control" id="id_username" name="username" placeholder="Username" required>
                                </div>
                                <div class="form-group ml-2">
                                  <label for="id_password" class="sr-only">Password</label>
                                  <input type="password" class="form-control" id="id_password" name="psw" placeholder="Password" required>
                                </div>
                                <div class="form-group ml-2">
                                <button type="submit" class="btn btn-primary">Log in</button>
                                <a class="btn btn-link" href="registration">Sign up</a>
                                </div>
                              </form> 
                        </li>   
                        {% endif %}
                    </ul>
                </div>
            </nav>
        </header>


        <main class="container mt-5">
            <div class="row justify-content-center">
              <div class="col-lg-8">
                <div class="card border-0 shadow my-5">
                  <div class="card-body p-5">
                    <h2 class="card-title mb-4">About Us</h2>
                    <hr class="my-4">
                    <p class="card-text fs-5 lh-lg text-muted mb-4">Welcome to Best Cars dealership, home to the best cars in North America.</p>
                    <p class="card-text fs-4 fw-bold mb-0">We sell domestic and imported cars at reasonable prices.</p>
                    <p class="card-text fs-4 fw-bold mt-4">Guaranteed quality, and the best value for money</p>
                    <hr>
                    <p class="card-text fs-4 fw-bold mt-4 text-center">Sit back and take a look, you won't regret it!</p>
                  </div>
                </div>
              </div>
            </div>
          </main>
          
    

          <div class="text-right">
            <footer class="navbar-dark fixed-bottom bg-dark">  
                        
                 <a class="btn btn-link" href="{% url 'djangoapp:about' %}">About us</a>
                 <a class="btn btn-link" href="{% url 'djangoapp:contact' %}">Contact Us</a>
                     
            </footer>
        
        </div>


    </body>
</html>