<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Us</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>

<div class="mt-2 ml-2">

    <h3>For contact, this is how you can find us:</h3>

    <p><u>Adress</u> :1120 W Frontage Rd
        Owatonna, MN 55060
        United States</p>
    <p><u>Telephone</u> : (318) 555-0176</p>

</div>

    <div class="text-right">
        <footer class="fixed-bottom">  
                    
             <a class="btn btn-link" href="home">Home</a>
             <a class="btn btn-link" href="about">About us</a>
                 
        </footer>
    
    </div>
    
</body>
</html>