<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8">
    <title>Registration Form</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    
    
</head>
<body>
   
    <form action="" method="post">
        
        <div class="container"> 
          <h1>Sign up</h1>
          <br>
          <div class="form-group"> 
            <label for="username"><b>User Name</b></label>
            <input id="username" class = "form-control" type="text" placeholder="Enter User Name: " name="username" required> 
            <label for="username"><b>First Name</b></label>
            <input id="username" class = "form-control" type="text" placeholder="Enter First Name: " name="firstname" required> 
            <label for="username"><b>Last Name</b></label>
            <input id="username" class = "form-control" type="text" placeholder="Enter Last Name: " name="lastname" required> 
            <label for="psw"><b>Password</b></label>
            <input id="psw" class = "form-control" type="password"  placeholder="Enter Password: " name="psw" required> 
          </div>
          <button class="btn btn-primary" type="submit">Sign up</button> 
        </div>
      </form>

      <div class="text-right">
        <footer class="fixed-bottom">  
                    
             <a class="btn btn-link" href="home">Home</a>
             <a class="btn btn-link" href="contact">Contact Us</a>
             <a class="btn btn-link" href="about">About Us</a>
                 
        </footer>
    

</body>
</html>


